.Title_Container{
    width: 45%;
    height: 300px;
    padding: 1%;
    border-radius: 12px;
    margin:170px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.739);
    box-shadow: rgb(255, 230, 0) 3px 3px 6px 0px inset, rgb(31, 1, 255) -3px -3px 6px 1px inset;    
}
.Ul_Conteiner{
    width: 50%;
    height: 300px;
    padding: 1%;
    border-radius: 12px;
    margin:170px auto;
    text-align: center;
}
.questions > li{
    width: 100%;
    height: 50px;
    margin: 10px 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: rgb(255, 230, 0) 3px 3px 6px 0px inset, rgb(31, 1, 255) -3px -3px 6px 1px inset;    
}
.buttons{
    border-radius: 12px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.739);
    box-shadow: rgb(255, 230, 0) 3px 3px 6px 0px inset, rgb(31, 1, 255) -3px -3px 6px 1px inset;    
}
ul{
    width: 100%;
}
.game_container{
    width:'50%';
    height:'100vh'
}
li{
    border-radius: 12px;
    list-style-type: none;
}
@media (max-width:1000px) {
    .game_container{
        flex-direction: column;
        gap:0;
        height: 100vh;
        width: 100%;
    }
    .Title_Container{
        margin: 200px 0 0 0;
        width: 90%;
        padding: 15px;
        height: auto;
    }
    .Ul_Conteiner{
        margin: 0;
        width: 100%;
    }
}