.score_container > ul >  li{
    width: 100%;
    padding: 5px;   
    margin: 10px 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: rgb(255, 230, 0) 3px 3px 6px 0px inset, rgb(31, 1, 255) -3px -3px 6px 1px inset;    
}
.score_container{
    width: 300px;
    padding: 30px;
    background-color: rgba(0, 136, 255, 0.159);
    box-shadow: rgb(255, 230, 0) 3px 3px 6px 0px inset, rgb(31, 1, 255) -3px -3px 6px 1px inset;    
}
@media (max-width:1000px) {
    .score_container > ul >  li{
        font-size: smaller;
        width: 70%;
    }
    .score_container > ul{
        width: 100%;
        display: grid;
        gap:20px;
        padding:5%;
        row-gap: 0;
        grid-template-columns: repeat(3, minmax(70px, 1fr));
    }
    .score_container{
        width:100%;
        margin: 5% auto;
        padding: 0;
    }
}