.wrapper{
    width: 50%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.739);
    border-radius: 12px;
    box-shadow: rgb(255, 230, 0) 3px 3px 6px 0px inset, rgb(31, 1, 255) -3px -3px 6px 1px inset;
    margin:170px auto;
}
.Input{
    border: 1px solid  rgba(0, 0, 0, 0.13);
    height: 50px;
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.837);
}
.formItem{
    font-size: 50px;
}
.formItem .ant-form-item-label > label {
    color: white;
    font-size: 18px; 
}
.container{
    width: 100%;
    height: calc(100vh - 60px);
}
@media (max-width:900px) {
    .wrapper{
        width: 90%;
    }
}